<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments::head}">
</head>
<body>
<div id="header">
    <div class="container">
        <div id="welcomeLine" class="row">
            <div class="span6">Bienvenue !<strong th:if="${utilisateur}!=null" th:text="' '+${utilisateur.prenom}"> User </strong></div>
        </div>
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar" th:insert="~{fragments::navbar}">

        </div>
    </div>
</div>

<div id="mainBody">
    <div class="container">
        <div class="row">

            <div class="span9">
                <h3>Choix d'une date :</h3>
                <form method="post">
                    <select name="date" id="date">
                        <option th:each="seance : ${lstSeancesDistrib}" th:value="${seance.dateSeance}" th:text="${seance.dateSeance}"></option>
                    </select>
                    <input type="submit" value="Choisir">
                </form>
                </div>
            </div>
        </div>
    </div>
<!-- Footer ================================================================== -->
<div  id="footerSection" th:insert="~{fragments::footer}">
    <!-- Container End -->
</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
<script src="themes/js/jquery.js" type="text/javascript"></script>
<script src="themes/js/bootstrap.min.js" type="text/javascript"></script>
<script src="themes/js/google-code-prettify/prettify.js"></script>

<script src="themes/js/bootshop.js"></script>
<script src="themes/js/jquery.lightbox-0.5.js"></script>

<!-- Themes switcher section ============================================================================================= -->

</body>
</html>